/* This is a css introduction
(1) header - change background color
(2) headings h1-h2 - change font color
                   - headings in all capital letters
             h1    - center the text
(3) sections - change background color
(4) links - change background and font color 
(5) images - remove from the page*/ 
    /* header */
header {
  background: #719F1E;
}

/* nav */
nav {
  font-size: 150%; 
}
/* only stlye links inside nav */
nav a{
  width: 20px;
  display: inline-block;
  background: #FFFFFF;
}
/* h1 */
h1 {
  color: #F7E2C7; 
  text-align: center; 
  font-variant-caps: all-petite-caps;
}
/* h2 */
h2 {
  color: #F7E2C7; 
  text-align: left; 
  font-variant-caps: all-petite-caps;
}
/* section*/
section {
  background: #816C5B;
}
/* links
a {
  background: #4A7212;
  color: #104210;
}*/
/* images*/
img {
  display: none; /* visibility: hidden will leave all the area needed, but shows nothing*/
}

.active {
  border: solid
}
