/* This is a css introduction
(1) header - change background color
(2) headings h1-h2 - change font color
                   - headings in all capital letters
             h1    - center the text
(3) sections - change background color
(4) links - change background and font color 
(5) images - remove from the page*/ 
    /* header */
body {
  padding: 10px;
  margin: 5px;
  font-size: 90%;
}
header {
  background: #F7E2C7 /* champagne */ url("../images/flywheel.jpg") no-repeat fixed center opacity: 0.5; 
  height: 300px;
  width: 100%;
  display: inline-block;
}

/* nav */
nav {
  display: inline-block;
  background: #D5CE58; /* yellow green */
  color: #F7E2C7;
  width: 100%;
  height: 5px;
}
/* only stlye links inside nav */
nav a{
  width: 150px;
  display: inline-block;
  background: #FFFFFF;
  text-align: center;
  margin: 10px 20px;
  padding: 10px 20px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-color: #FFFFFF;
  text-decoration: none;  
}
nav a:hover{
  color: #FFFFFF;
  background: #000000;
  border: solid;
  border-color: #000000;
}
/* h1 */
h1 {
  font-size: 200%; 
  color: #816C5B; /* Earth brown */
  background-color: #FFFFFF;
  text-align: center; 
  text-transfer: uppercase;
}
/* h2 */
h2 {
  color: #816C5B; /* Earth brown */
  text-align: left; 
  text-transfer: uppercase;
}
/* section*/
section {
  display: block;
  background: #F7E2C7; /* champagne */
}
/* links */
a {
  background: #4A7212;
  color: #104210;
}
/* images*/
img {
  display: block; /* visibility: hidden will leave all the area needed, but shows nothing*/
  width: 200px;
  border: solid;
}
img.left {
  display: block;
  margin:0 auto;
  width: 75%;
  padding: 25px 5px;
  height: 200px;
  clear: left;
}
/* classes */
.left {
  display: block;
  width: 25%;
  padding: 10px 0px;
  margin: 2px;
  background-color: #B99C6B;
}

.right {
  display: block;
  width: 70%;
  padding: 5px;
  margin: 2px;
  float: right;
}

.active {
  border: solid;
  background-color: #4A7212; /* Kelly green */
  color: #FFFFFF; /* white */ 
}
