/* This is a css introduction
(1) header - change background color
(2) headings h1-h2 - change font color
                   - headings in all capital letters
             h1    - center the text
(3) sections - change background color
(4) links - change background and font color 
(5) images - remove from the page*/ 
    /* header */
body {
  padding: 10px;
  margin: 5px;
  font-size=150%
}
header {
  background: #719F1E url("/css/flywheel.jpg") no-repeat fixed center;
}

/* nav */
nav {
  background: #719F1E;
  font-size: 120%; 
  color: #F7E2C7;
}
/* only stlye links inside nav */
nav a{
  width: 200px;
  display: inline-block;
  background: #FFFFFF;
  text-align: center;
  margin: 50px;
  padding: 10px;
  border-radius = 15px;
  height=50px;
}
nav a:hover{
  color: #FFFFFF;
  background: #000000;
  border:none;
}
/* h1 */
h1 {
  font-size: 130%; 
  color: #816C5B; 
  text-align: center; 
  font-variant-caps: all-petite-caps;
  border:solid;
}
/* h2 */
h2 {
  color: #816C5B; 
  text-align: left; 
  font-variant-caps: all-petite-caps;
  border:solid;
}
/* section*/
section {
  background: #F7E2C7;
  border:solid;
}
/* links */
a {
  background: #4A7212;
  color: #104210;
  border:solid;
}
/* images*/
img {
  display: block; /* visibility: hidden will leave all the area needed, but shows nothing*/
}

.active {
  border: solid;
}
